.monitor
    background-color: $dark
    color: $green
    padding: 10px
    margin: 0
    list-style: none
    margin-top: auto
    height: 150px
    overflow: auto
    line-height: 1em
    border-radius: 6px
    font-size: 15px
    &::-webkit-scrollbar
        width: 5px
        height: 5px

    &::-webkit-scrollbar-track
        background-color: transparent

    &::-webkit-scrollbar-thumb
      background-color: alpha($white, 0.2)

.is-white
    color: $white
