$yellow = #FFF03A
$flexCenter
  display: flex
  justify-content: center
  align-items: center

@import 'dolober/app'
@import 'index'
@import 'filters'
@import 'evm'
@import 'back'



.page-enter-active
.page-leave-active
  transition: all .5s

.page-enter
.page-leave-to
  opacity: 0

.is-center
  @extends $flexCenter