.back
  position: absolute
  top: 30px
  left: 30px
  fill: $dark
  width: 50px
  height: 50px
  background: $yellow
  transition: 0.2s
  z-index: 999
  @extends $flexCenter
  &:hover
    transform: translateX(-5px)
  
  .icon
    width: 40px
    height: 40px