.toolbox
  padding: 50px 20px
  width: 300px
  height: 100vh
  background: $yellow

.artboard
  display: flex
  width: 90%
  margin: auto
  box-shadow: 0 1px 20px alpha($dark, 0.1)
  background: $white
  &-wrapper
    position: relative
    flex: 1
    height: 100vh
    background-color: $dark
    @extends $flexCenter

  &-back
    position: absolute
    top: 20px
    left: 20px
    fill: $dark
    width: 50px
    height: 50px
    background: $yellow
    transition: 0.2s
    @extends $flexCenter
    &:hover
      transform: translateX(-5px)
    
    .icon
      width: 40px
      height: 40px

.app
  display: flex
  justify-content: center
  align-items: center

.filters
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  width: 100%
  &-item
    display: flex
    justify-content: center
    align-items: center
    background-color: $yellow
    border: 1px solid $dark
    color: $dark
    margin: 5px 0
    padding: 7px 0
    width: 100%
    flex-shrink: 0
    flex-grow: 0
    &:hover
      background: $dark
      color: $white

.matrix
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  input
    width: calc(33.33% - 5px)
    flex-shrink: 0
    margin: 5px 0
    background-color: $yellow
    border: 1px solid $dark
    line-height: 2em
    font-size: 15px
    padding: 7.5px 5px
    text-align: center
    -webkit-appearance: none
    -moz-appearance: textfield
    &:focus
      outline: none
  &-button
    width: 100%
    background-color: $dark
    border: 0
    margin: 5px 0
    padding: 10px 20px
    font-size: 15px
    color: $white
    cursor: pointer
    border: 1px solid $dark    
    transition: 0.4s

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
  display: none

.select
  -webkit-appearance: none
  -moz-appearance: none
  display: block
  padding: 10px
  font-size: 16px
  line-height: 1em
  border-width: 1px
  border-style: solid
  border-color: $gray
  color: $dark
  margin: 0 0 15px 0
  width: 100%
  border-radius: 0

.button
  border-radius: 0
  &.is-yellow
    background-color: $yellow
