$flexCenter
  display: flex
  justify-content: center
  align-items: center

.intro
  position: relative
  width: 100%
  height: 100%
  border: 3px solid $yellow
  background-color: alpha($dark, 0.1)
  flex-wrap: wrap  
  @extends $flexCenter
  +mobile()
    align-items: flex-start
  
  &-background
    width: 100vw
    height: 100vh
    padding: 30px
    background-position: center center
    background-size: cover
    @extends $flexCenter
      

  &-item
    position: relative
    background-color: $yellow
    padding: 20px
    width: 100px
    height 100px
    transition: 0.2s
    margin: 20px
    text-decoration: none
    color: $dark
    fill: $dark
    z-index: 2
    @extends $flexCenter
    +mobile()
      width: 100%


    .icon
      width: 50px
      height: 50px
    &:hover
      transform: translateY(-5px)
      box-shadow: 0 7px 10px -2px alpha($dark, 0.5)

  &-hero
    position: absolute
    right: 0
    bottom: 0
    width: 400px
    max-width: 100%
    z-index: 1
@keyframes backgroundBlur
  0%
    transform: scale(1)
    filter: blur(0)
  100%
    filter: blur(3px)
    transform: scale(1.1)    

@keyframes introFadeIn
  0%
    transform: translate(-50%, 50%)
    opacity: 0
  100%
    transform: translate(-50%, -50%);
    opacity: 1